craft-helloworld/src/main/mule/craft-helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7678c7d3-4237-4bf8-8424-40e093e9e873" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="craft-helloworldFlow" doc:id="26447510-f655-4a02-a5e1-a1afcf1a9ebb" >
		<http:listener doc:name="Listener" doc:id="8d2551fb-5d5b-49c9-b927-76297e84fb2c" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-variable value="500" doc:name="SetVariable" doc:id="997a2001-382f-4c54-9795-ab23d391bfb6" variableName="var1" />
		<remove-variable doc:name="Remove Variable" doc:id="9cde4761-8a59-4016-8f7f-fc2a900bf9cd" variableName="var2" />
		<set-variable value="100" doc:name="Set Variable" doc:id="7693f991-ce11-4113-a74e-e1239f466614" variableName="var2"/>
		<remove-variable doc:name="Remove Variable" doc:id="474857b5-2669-479c-88d0-919573cd0733" variableName="var1" />
		<set-payload value='#[vars.var1]' doc:name="Set Payload" doc:id="d7bfa248-a01f-4586-bb17-77b4d06d1e87" />
	</flow>
</mule>
