hhhh/src/main/mule/hhhh.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e9af257a-f9cd-4182-8747-fb130bd67034" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hhhhFlow" doc:id="debdd914-6688-40f9-8efb-bce98631f4ed" >
		<http:listener doc:name="Listener" doc:id="f246aeb7-ae64-454b-b418-6cf30bf34d40" config-ref="HTTP_Listener_config" path="/help"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2da87f3a-026f-45e9-9567-dec29ad401ee" />
	</flow>
</mule>
